body{
    background-color: rgb(209, 196, 208);      /* Test */
}

.cont{
    width: 80%;
    margin: 5rem auto;
}

/* ======================================================================================================================= */
/* start Typed.js*/


.header-area h2 span{
    color: rgb(255, 10, 125);
}
 /* end Typed.js */
/* ======================================================================================================================= */
